{%extends 'base.html'%}
{% load i18n %}

<!DOCTYPE html>

<head> {%block head%}
    <title>{% trans "Add product" %}</title>

    <script>
    $('document').ready(function(){
        $( '.nav-item' ).find( 'li.active' ).removeClass( 'active' );
	    $( '#aproduct' ).addClass( 'active' );
    });
    </script>
    {%endblock%}

</head>

<body>
    {%block body%}
    {% if messages %}
    {% for message in messages %}
    
    <li {% if message.tags == 'error' %} class=" alert alert-danger" {% elif message.tags == 'info' %} class="alert alert-info" {% endif %}>{{ message }}</li>
    {% endfor %}
    {% endif %}
    <div class="container">
        <form method="POST" enctype="multipart/form-data" class="post-form">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="save btn btn-default">{% trans "Save" %}</button>
        </form>
    </div>

    {%endblock%}

</body>

</html>