{%extends 'base.html'%}

<!DOCTYPE html>
<html lang="en">

<head> {%block head%}

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Products</title>
  <script>
    $('document').ready(function () {
      $('.nav-item').find('li.active').removeClass('active');
      $('#products').addClass('active');


    });
  </script>
  {%endblock%}

</head>

<body>
  {%block body%}
  <div class="container">
    <h3>Products Report</h3>

    <div class="row">
      <div class="col-sm-12">
        <table id="table" class="table table-striped table-bordered" style="width:100%" data-server-side="true"
          data-ajax="/api/productVS/?format=datatables">
          <thead>
            <tr>
              <th data-data="name">Name</th>
              <th data-data="product_type">Product Type</th>
              <th data-data="rimage">Image</th>
              <th data-data="description">Description</th>
            </tr>
          </thead>

        </table>
      </div>
    </div>
  </div>
  {%load static%}
  <script src="{% static "js/jquery-3.3.1.js" %}"></script>
  {%load static%}
  <script src="{% static "js/jquery.dataTables.min.js" %}"></script>
  {%load static%}
  <script src="{% static "js/dataTables.bootstrap4.min.js" %}"></script>
  <script>
    $(document).ready(function () { $('#table').DataTable(); });
  </script>


  {%endblock%}
</body>

</html>