{%extends 'repbase.html'%}
{% load i18n %}

<!DOCTYPE html>

<head> {%block head%}
  <title>{% trans "Products" %}</title>
  <script>
    $('document').ready(function () {
      $('.nav-item').find('li.active').removeClass('active');
      $('#products').addClass('active');


    });
  </script>
  {%endblock%}

</head>

<body>
  {%block body%}
    <h3 class="titels">{% trans "Products Report" %}</h3>
    <div id="myGrid" class="ag-theme-balham gridclass"></div>
  <script>
    // specify the columns
    var columnDefs = [
      { headerName: {% trans "'Name'" %}, field: "name", sortable: true, filter: true,checkboxSelection: true },
      { headerName: {% trans "'Description'" %}, field: "description", sortable: true, filter: true },
      { headerName: {% trans "'Avalible'" %}, field: "avalible", sortable: true, filter: true }];
      
    // let the grid know which columns and what data to use
    var gridOptions = { paginationAutoPageSize:'true',pagination:'true',columnDefs: columnDefs,  rowSelection: 'multiple' ,onFirstDataRendered(params) {params.api.sizeColumnsToFit();}};
    // create the grid passing in the div to use together with the columns & data we want to use
    new agGrid.Grid(document.querySelector('#myGrid'), gridOptions);
    fetch('/api/productVS/').then(function (response) {return response.json();}).then(function (data) {gridOptions.api.setRowData(data);})

</script>


  {%endblock%}
</body>

</html>