{%extends 'repbase.html'%}
{% load i18n %}

<!DOCTYPE html>

<head> {%block head%}
    <title>{% trans "Sales" %}</title>
    <script>
        $('document').ready(function () {
            $('.nav-item').find('li.active').removeClass('active');
            $('#statistics').addClass('active');
        });
    </script>
    {%endblock%}
</head>

<body>
    {%block body%}
    <h3 class="titels">{% trans 'statistics' %}</h3>
    <div id="myGrid" class="ag-theme-balham gridclass"></div>
    <br>
    <span>{% trans 'To cahnge Company Capital fill in the new value and click the button' %}</span>
    <br>
    <button onclick="editCompanyCapital()">{% trans 'Edit Company Capital' %}</button>
    <br>
    <br>
    <sapn>{% trans  'Company Capital'%}</sapn>
    <input type="text" id='CompanyCapitalInput'>
    <br>   
    <script>
        // specify the columns
        var columnDefs = [
            { headerName: {% trans "'Name'" %}, field: "name",sortable: true},
            { headerName: {% trans "'Value'" %}, field: "value",sortable: true,valueGetter: function(params) { return params.data.value.toFixed(2); }}];
        // let the grid know which columns and what data to use
        var gridOptions = { paginationAutoPageSize:'true',pagination:'true',columnDefs: columnDefs, rowSelection: 'multiple' ,onFirstDataRendered(params) {params.api.sizeColumnsToFit();}};
        // create the grid passing in the div to use together with the columns & data we want to use
        new agGrid.Grid(document.querySelector('#myGrid'), gridOptions);
        $.ajax({url: "/api/statisticsVS/",type: "GET",success: function(data){gridOptions.api.setRowData(data);}});
        
        function editCompanyCapital() {
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    }
                }
            });
            console.log($('#CompanyCapitalInput').val());
            $.ajax({ type: "POST", url: '/api/editCompanyCapital/', headers: {'newval': $('#CompanyCapitalInput').val()}});
        }
    </script>
    {%endblock%}
</body>

</html>