{%extends 'repbase.html'%}
<!DOCTYPE html>
<html lang="en">

<head> {%block head%}
    <title>Sales</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script>
        $('document').ready(function () {
            $('.nav-item').find('li.active').removeClass('active');
            $('#sales').addClass('active');
        });
    </script>
    {%endblock%}
</head>

<body>
    {%block body%}
    <h3 class="titels">Sales Report</h3>
    <button onclick="Deletesales()">Delete Sale</button>
    <div id="myGrid" class="ag-theme-balham gridclass"></div>
    <script>
        // specify the columns
        var columnDefs = [
            { headerName: "Product Type", field: "product_type", sortable: true, filter: true, checkboxSelection: true },
            { headerName: "Quantity", field: "quant", sortable: true, filter: true },
            { headerName: "Sale Price", field: "saleprice", sortable: true, filter: true },
            { headerName: "Unit Profit", field: "unitprofit", sortable: true, filter: true },
            { headerName: "Unit Profit %", field: "profitpercent", sortable: true, filter: true },
            { headerName: "Total Profit", field: "totalprofit", sortable: true, filter: true },
            { headerName: "Order ID", field: "orderid", sortable: true, filter: true },
            { headerName: "Date", field: "date", sortable: true, filter: true },
            { headerName: "Batch ID", field: "batchid", filter: true }];
        // let the grid know which columns and what data to use
        var gridOptions = { columnDefs: columnDefs, rowSelection: 'multiple' };
        // create the grid passing in the div to use together with the columns & data we want to use
        new agGrid.Grid(document.querySelector('#myGrid'), gridOptions);
        fetch('/api/salesVS/').then(function (response) { return response.json(); }).then(function (data) { gridOptions.api.setRowData(data["results"]); })
        function Deletesales() {
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    }
                }
            });
            var selectedNodes = gridOptions.api.getSelectedNodes()
            var selectedData = selectedNodes.map(function (node) { return node.data })
            var orderid = selectedData.map(function (node) { return node.orderid }).join(',')
            $.ajax({ type: "DELETE", url: '/api/salescustom/' + orderid + '/' });
        }
    </script>
    {%endblock%}
</body>

</html>