.vscode/
media/
db.sqlite3
salesManagement/main/__pycache__/
salesManagement/db.sqlite3
salesManagement/main/migrations/
salesManagement/salesManagement/__pycache__/
salesManagement/salesManagement/__pycache__
salesManagement/salesManagement/__pycache__/__init__.cpython-36.pyc
salesManagement/main/__pycache__/__init__.cpython-36.pyc
salesManagement/main/__pycache__/admin.cpython-36.pyc
salesManagement/main/__pycache__/models.cpython-36.pyc
salesManagement/main/__pycache__/urls.cpython-36.pyc
salesManagement/main/__pycache__/views.cpython-36.pyc
salesManagement/main/migrations/__pycache__/0001_initial.cpython-36.pyc
salesManagement/main/migrations/__pycache__/__init__.cpython-36.pyc
salesManagement/salesManagement/__pycache__/settings.cpython-36.pyc
salesManagement/salesManagement/__pycache__/urls.cpython-36.pyc
