.vscode/
media/
db.sqlite3
salesManagement/main/__pycache__
salesManagement/db.sqlite3
salesManagement/salesManagement/__pycache__
salesManagement/salesManagement/migrations
salesManagement/main/__pycache__
salesManagement/main/migrations
