.vscode/
media/
db.sqlite3
salesManagement/main/__pycache__
salesManagement/db.sqlite3
salesManagement/main/migrations/*
salesManagement/salesManagement/__pycache__
salesManagement/main/__pycache__
salesManagement/main/migrations/__pycache__
salesManagement/salesManagement/__pycache__